<!-- ordering/menu_list.html -->
{% extends 'base.html' %}

{% block title %}Active Menu{% endblock %}

{% block content %}
<form action="{% url 'hub' %}">
	<input type="submit" value="Back to Hub"/>
</form>
<br>
<form action "{% url 'view_menu' %}" method='post'>
	{% csrf_token %}
	{{form}}
	<input type="submit" value="Begin New Order" name="_newOrder"/>
</form>
<br>
<form action "{% url 'view_menu' %}" method='post'>
	{% csrf_token %}
	{{form4}}
	<input type="submit" value="Select Category" name="_categoryField"/>
</form>
<br>
<form action "{% url 'view_menu' %}" method='post'>
	{% csrf_token %}
	{{form3}}
	<input type="submit" value="Search" name="_searchField"/>
</form>
<h1>Knight Eats Online Interactive Menu</h1>
		<ol>
		{% for item in menu %}
			<li>
			-- {{item.item_name}} <br>-- Qty: {{item.item_quantity}} -- Price: {{item.item_price}}
			<br>
				<form action "{% url 'deep_page' %}" method='post'>
				<input type="hidden" value="{{item.item_name}}" name="_itemName"/>
				<input type="hidden" value="{{item.item_price}}" name="_itemPrice"/>
				<input type="hidden" value="{{item.on_order.order_num}}" name="_itemOrder"/>
				<input type="hidden" value="{{item.on_category.category_name}}" name="_itemCategory"/>
					{% csrf_token %}
					{{form2}}
					<input type="submit" value="Submit" name="_newItem"/>
					<br><br>
				</form>
			</li>
		{% endfor %}
		</ol>
{% endblock %}